<p id="notice"><%= notice %></p>

<p>
  <b>Code:</b>
  <%= @phone.code %>
</p>

<p>
  <b>Phone number:</b>
  <%= @phone.phone_number %>
</p>

<p>
  <b>Description:</b>
  <%= @phone.description %>
</p>


<%= link_to 'Edit', edit_phone_path(@phone) %> |
<%= link_to 'Back', phones_path %>
