<h1>Listing branches</h1>

<table>
  <tr>
    <th>Company</th>
    <th>Latitude</th>
    <th>Longitude</th>
    <th>Address</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
<% if !@branches.nil? %>
	<% @branches.each do |branch| %>
	  <tr>
	    <td><%= branch.company_id %></td>
	    <td><%= branch.latitude %></td>
	    <td><%= branch.longitude %></td>
	    <td><%= link_to 'Show', branch_flyers_path(branch) %></td>
	    <td><%= link_to 'Edit', edit_branch_path(branch) %></td>
	    <td><%= link_to 'Destroy', branch, method: :delete, data: { confirm: 'Are you sure?' } %></td>
	  </tr>
	<% end %>
<% end %>

</table>
<br />

<%= link_to 'New Branch', new_branch_path %>
