<h1>Listing branch_flyers</h1>

<table>
  <tr>
    <th>Branch</th>
    <th>Flyer</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @branch_flyers.each do |branch_flyer| %>
  <tr>
    <td><%= branch_flyer.branch_id %></td>
    <td><%= branch_flyer.flyer_id %></td>
    <td><%= link_to 'Show', branch_flyer %></td>
    <td><%= link_to 'Edit', edit_branch_flyer_path(branch_flyer) %></td>
    <td><%= link_to 'Destroy', branch_flyer, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Branch flyer', new_branch_flyer_path %>
