<h1>Listing telephones</h1>

<table>
  <tr>
    <th>Address</th>
    <th>Country code</th>
    <th>State code</th>
    <th>Phone</th>
    <th>Description</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @telephones.each do |telephone| %>
  <tr>
    <td><%= telephone.address_id %></td>
    <td><%= telephone.country_code %></td>
    <td><%= telephone.state_code %></td>
    <td><%= telephone.phone %></td>
    <td><%= telephone.description %></td>
    <td><%= link_to 'Show', telephone %></td>
    <td><%= link_to 'Edit', edit_telephone_path(telephone) %></td>
    <td><%= link_to 'Destroy', telephone, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Telephone', new_telephone_path %>
